$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$black: #292929;
$gray: #666666;
$white: #FFFFFF;
$yellow: #FEDB3F;

//z-indexes 
$z-fixed-menu: 100;

//settings
@import './settings/normalize.scss';
@import './vars.scss';
@import './settings/media.scss';
@import './settings/fonts.scss';
@import './settings/base.scss';

//components
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hamburger.scss';
@import './components/hero.scss';
@import './components/features.scss';
@import './components/feature.scss';
@import './components/btn.scss';
@import './components/section.scss';
@import './components/headline.scss';
@import './components/benefits.scss';
@import './components/benefit.scss';
@import './components/reviews.scss';
@import './components/interactive-avatar.scss';
@import './components/form.scss';
@import './components/order-section.scss';
@import './components/radio.scss';
@import './components/social.scss';
@import './components/footer.scss';
@import './components/contacts.scss';
@import './components/fixed-menu.scss';
@import './components/fullscreen-menu.scss';
@import './components/button.scss';
@import './components/products-section.scss';
@import './components/product.scss';
@import './components/dropdown.scss';