.benefit {
  text-align: center;
  line-height: 1.2;

  &__img-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &__icon {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 27px;
    font-weight: 700;
    color: $black;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 300;
  }
}