.btn {
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
  color: $black;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  background: $yellow;
  border: none;

  &--theme--transparent {
    background: transparent;
    color: $white;
    font-weight: 400;
    text-transform: none;
  }
}