.feature {
  display: flex;

  &__icon {
    fill: $white;
    width: rem(35px);
    margin-right: rem(14px);
  }

  &__text {
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(18px);
    color: $white;
    max-width: rem(90px);
  }
}


