.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(18px) 0;
  background: #FFFFFF;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
      flex-direction: column;
    }
  }

  &__phone-number {
    @include tablets {
      display: block;
    }
  }
}