.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &__icon-elem {
    width: 13px;
    height: 14px;
    margin-right: 6px;
  }
}