.hero {
  background: url("../images/bg/surfers.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: rem(650px);
  filter: drop-shadow(rem(0px) rem(4px) rem(4px) rgba(0, 0, 0, 0.25));
  position: relative;

  @include tablets {
    background-position: right;
  }

  @include phones {
    background-position-x: 80%;
  }

  &__icons-section {
    @include tablets {
      display: none;
    }
  }
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.2);
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(26px) 0 rem(65px);
  }

  &__title-section {
    width: 46%;

    @include tablets {
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__main-title {
    color: $white;
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: rem(17px);

    @include tablets {
      margin-bottom: rem(9px);
    }

    @include phones {
      font-size: rem(34px);
      margin-bottom: rem(12px);
    }
  }

  &__title-desc {
    color: $white;
    font-size: rem(21px);
    padding-right: 10%;
    margin-bottom: rem(54px);

    @include tablets {
      padding: 0 20%;
      margin-bottom: rem(44px);
    }

    @include phones {
      padding: 0 5%;
      margin-bottom: rem(43px);
    }
  }

  &__btn {
    margin-bottom: rem(64px);
  }
}