.menu {
  margin: 0 20px;
  padding-top: 3px;

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 22px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    white-space: nowrap;
  }

  &--colum {
    font-weight: 400;
    font-size: 36px;
    line-height: 2;

    @include tablets {
      display: flex;
    }

    .menu__list {
      
      flex-direction: column;
      color: $white;
    }
  }
}
