.modal {
  
  

  &.fancybox-content {
    background: #313131;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .fancybox-button {
    display: none;
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 176px;
    background: $white;
  }

  &__content {
    font-weight: 500;
    color: $black;
    margin-bottom: 39px;
  }
}

