.products-section {
  background: #F8FAF9;
}

.products-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8FAF9;
  position: relative;

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: inline-block;
    height: 30px;
    width: 16px;

    &--direction--prev, &--direction--next {
      @include tablets {
        position: absolute;
        top: 30%;
      }
    }

    @include tablets {
      &--direction--prev {
        left: 100px;
      }
      &--direction--next {
        right: 100px;
      }
    }

    @include phones {
      &--direction--prev {
        left: 0;
      }
      &--direction--next {
        right: 0;
      }
    }
  }
}

.arrow-prev, .arrow-next {
  fill: #F8FAF9;
  height: 30px;
  width: 16px;
}

.products {
  display: flex;

  &-wrapper {
    overflow: hidden;
  }

  &__item {
    width: 100%;
    flex-shrink: 0;
  }
}