.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);

  &__visible {
    margin-right: rem(10px);
  }

  &--checkbox {
    margin-bottom: rem(27px);

    .radio__visible {
      border-radius: rem(4px);
      

      &:before {
        background: url("../images/icons/tick.png") center center no-repeat;
      }
    }
  }

  &__elem {
    display: none;

    &:checked ~ .radio__visible {
      &::before {
        display: block;
      }
    }
  }

  &__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: $white;

    &:before {
      content: "";
      width: rem(13px);
      height: rem(13px);
      background: $yellow;
      border-radius: 50%;
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}